.animation-overlay {
  position: fixed;
  inset: 0;
  background: #333;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOut 2s ease 2s forwards;
}

.monitor {
  position: relative;
  width: 350px;
  height: 250px;
  background: #3BAD92;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: monitorFade 2s ease 1.25s forwards;
  overflow: visible;
}

.line {
  position: absolute;
  width: 10px;
  height: 250px;
  background: white;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  
}

.left-line {
  left: 46%;
  animation: slideLeft .5s ease forwards;
  animation-delay: 0.5s;
}

.right-line {
  left: 54%;
  animation: slideRight .5s ease forwards;
  animation-delay: 0.5s;
}

@keyframes slideLeft {
  0% {
    transform: translateY(-50%) translateX(0);
  }
  100% {
    transform: translateY(-50%) translateX(-150px); /* half of 175px (half-monitor width) */
  }
}

@keyframes slideRight {
  0% {
    transform: translateY(-50%) translateX(0);
  }
  100% {
    transform: translateY(-50%) translateX(150px);
  }
}



@keyframes monitorFade {
  to {
    opacity: 0;
    transform: scale(1.1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    pointer-events: none;
  }
}
